body {
    background-color: hsl(0, 0%, 95%);
    background-position: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 15px;
}

h2 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display';
    font-weight: 700;
}

p {
    font-family: 'Lexend Deca';
    font-weight: 400;
    text-align: left;
    color: rgb(233, 207, 207)
}

.layerone {
    width: 250px;
    height: 300px;
    border: 6px;
    margin: 0px;
    padding: 50px;
    background-color: hsl(31, 77%, 52%);
}

.layertwo {
    width: 250px;
    height: 300px;
    border: 6px;
    margin: 0px;
    padding: 50px;
    background-color: hsl(184, 100%, 22%);
}

.layerthree {
    width: 250px;
    height: 300px;
    border: 6px;
    margin: 0px;
    padding: 50px;
    background-color: hsl(179, 100%, 13%);
}
b1 {
    background: hsl(0, 0%, 95%);
    padding: 20px;
    border: none;
    border-radius: 60px;
    font-size: 15px;
    color: hsl(31, 77%, 52%);
}

.b2 {
    background: hsl(0, 0%, 95%);
    padding: 20px;
    border: none;
    border-radius: 60px;
    font-size: 15px;
    color: hsl(184, 100%, 22%);
}

.b3 {
    background: hsl(0, 0%, 95%);
    padding: 20px;
    border: none;
    border-radius: 60px;
    font-size: 15px;
    color: hsl(179, 100%, 13%);
}

@media (max-width:375px) {
    body {
        flex-direction: column;
        gap: 5px;
    }
}
